<main class="container-fluid h-screen w-screen p-5">
  <h1 class="flex flex-col items-center justify-center">LeetCode Random Problem Fetcher</h1>

  <div class="container-fluid flex flex-col items-center justify-center mt-2">
    <div class="row mb-4 flex justify-center">
      <button class="btn mr-2" (click)="fetchRandomTask()">Fetch Random Task</button>
      <button class="btn " (click)="fetchDailyTask()">Daily Task</button>
    </div>
    <div class="row flex justify-center">
      <button class="btn mr-2" (click)="openTokenModal()">Set Tokens</button>
      <button class="btn mr-2" (click)="openFilterModal()">Filters</button>
    </div>
  </div>

  <!--  <as-split *ngIf="showSplit" class="mt-2" direction="horizontal">-->
  <!--    <as-split-area size="70">-->
  <!--      <app-problem></app-problem>-->
  <!--    </as-split-area>-->
  <!--    <as-split-area size="30">-->
  <!--      <app-code-submission></app-code-submission>-->
  <!--    </as-split-area>-->
  <!--  </as-split>-->

  <app-problem *ngIf="showSplit"></app-problem>


  <!-- Filter Modal -->
  <div *ngIf="showFilterModal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="bg-white p-6 rounded-lg w-1/2">
      <h2 class="text-xl font-bold mb-4">Filter Problems</h2>

      <!-- Difficulty Filter -->
      <h3 class="font-semibold mb-2">Difficulty</h3>
      <div class="mb-4">
        <label class="mr-2">
          <input type="radio" name="difficulty" [value]="null" [(ngModel)]="selectedDifficulty"> Any
        </label>
        <label class="mr-2">
          <input type="radio" name="difficulty" value="EASY" [(ngModel)]="selectedDifficulty"> Easy
        </label>
        <label class="mr-2">
          <input type="radio" name="difficulty" value="MEDIUM" [(ngModel)]="selectedDifficulty"> Medium
        </label>
        <label>
          <input type="radio" name="difficulty" value="HARD" [(ngModel)]="selectedDifficulty"> Hard
        </label>
      </div>

      <!-- Search Input for Tags -->
      <div class="mb-4">
        <input type="text" [(ngModel)]="searchQuery" (input)="filterTags()" placeholder="Search tags..." class="border p-2 rounded w-full">
      </div>

      <!-- Tags Filter -->
      <h3 class="font-semibold mb-2">Tags</h3>
      <div class="mb-4 h-72 overflow-y-auto border border-gray-300 p-2">
        <div class="grid grid-cols-3 gap-2">
          <button *ngFor="let tag of filteredTags"
                  (click)="toggleTag(tag)"
                  [ngClass]="tag.selected ? 'bg-blue-500 text-white' : 'bg-gray-200 text-gray-700'"
                  class="p-2 rounded-lg transition duration-200 ease-in-out">
            {{ tag.label }}
          </button>
        </div>
      </div>

      <!-- Modal Buttons -->
      <div class="flex justify-end">
        <button class="btn mr-2" (click)="showFilterModal = false">Cancel</button>
        <button class="btn bg-blue-500 text-white" (click)="applyFilters()">Apply Filters</button>
      </div>
    </div>
  </div>


  <!-- Modal for Setting Tokens -->
  <div class="fixed inset-0 z-50 flex items-center justify-center" *ngIf="showTokenModal">
    <div class="modal-overlay fixed inset-0 bg-black opacity-50"></div>
    <div class="modal-container bg-white rounded shadow-lg p-5 z-10">
      <h2 class="text-xl font-bold mb-4">Set Tokens</h2>
      <label class="block mb-2">Session Token:</label>
      <input type="text" [(ngModel)]="tokenService.session" class="border border-gray-300 p-2 w-full mb-4" placeholder="Enter Session Token">
      <label class="block mb-2">CSRF Token:</label>
      <input type="text" [(ngModel)]="tokenService.csrftoken" class="border border-gray-300 p-2 w-full mb-4" placeholder="Enter CSRF Token">
      <div class="flex justify-end">
        <button (click)="closeTokenModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded mr-2">Close</button>
        <button (click)="saveTokens()" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
      </div>
    </div>
  </div>

</main>
<router-outlet/>
