as-split-area{
  max-height: calc(100vh - 200px);
}

#editor-area {
  overflow: hidden;
}

main.container-fluid {
  height: 100%;
}

as-split {
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
