<main class="container-fluid h-screen w-screen p-5">
  <div class="head">
    <h1 class="flex flex-col items-center justify-center">LeetCode Random Problem Fetcher
      <small class="text-sm">created by <a href="https://github.com/Fo4Ik-git"
                                           class="font-bold hover:scale-110 transition-transform">Fo4Ik</a></small>
    </h1>

    <div class="container-fluid flex flex-col items-center justify-center mt-2">
      <div class="row mb-4 flex justify-center">
        <button class="btn mr-2" (click)="fetchRandomTask()">Fetch Random Task</button>
        <button class="btn " (click)="fetchDailyTask()">Daily Task</button>
      </div>
      <div class="row flex justify-center">
        <button class="btn mr-2" (click)="openTokenModal()">Set Tokens</button>
        <button class="btn mr-2" (click)="openFilterModal()">Filters</button>
      </div>
    </div>
  </div>

  <as-split *ngIf="showSplit" class="mt-2" direction="horizontal">
    <as-split-area size="70">
      <app-problem></app-problem>
    </as-split-area>
    <as-split-area id="editor-area" size="30">
      <div class="mb-4 flex items-center">
        <select id="language-select" [(ngModel)]="selectedLanguage" (change)="onLanguageChange(selectedLanguage)"
                class="block w-full bg-white border border-gray-300 text-gray-700 py-2 px-3 rounded leading-tight">
          <option *ngFor="let lang of languages" [value]="lang">{{ lang }}</option>
        </select>
        <button class="ml-2 bg-primary text-black py-2 px-4 rounded whitespace-nowrap" (click)="copyToClipboard()">Copy
          & Go
        </button>
      </div>
      <app-code-submission
        #codeSubmissionComponent
        *ngIf="showCodeSubmission"
        [initialCode]="initialCode"
        [language]="selectedLanguage"
        [theme]="codeEditorTheme"
      ></app-code-submission>
    </as-split-area>
  </as-split>


  <app-filter
    (applyFiltersEvent)="onApplyFilters($event)"
    (closeFilterModalEvent)="closeFilterModal()"
    [showFilterModal]="showFilterModal"
  ></app-filter>

  <!-- Modal for Setting Tokens -->
  <div class="fixed inset-0 z-50 flex items-center justify-center" *ngIf="showTokenModal">
    <div class="modal-overlay fixed inset-0 bg-black opacity-50"></div>
    <div class="modal-container bg-white rounded shadow-lg p-5 z-10">
      <h2 class="text-xl font-bold mb-4">Set Tokens</h2>
      <label class="block mb-2">Session Token:</label>
      <input type="text" [(ngModel)]="tokenService.session" class="border border-gray-300 p-2 w-full mb-4"
             placeholder="Enter Session Token">
      <label class="block mb-2">CSRF Token:</label>
      <input type="text" [(ngModel)]="tokenService.csrftoken" class="border border-gray-300 p-2 w-full mb-4"
             placeholder="Enter CSRF Token">
      <div class="flex justify-end">
        <button (click)="closeTokenModal()" class="bg-gray-300 text-gray-800 px-4 py-2 rounded mr-2">Close</button>
        <button (click)="saveTokens()" class="bg-blue-500 text-white px-4 py-2 rounded">Save</button>
      </div>
    </div>
  </div>

</main>
<router-outlet/>
