/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

$primary-color: hsl(var(--twc-primary));
$text-color: hsl(var(--twc-text));
$background-color: hsl(var(--twc-background));
$border-color: hsl(var(--twc-border));
$code-background-color: hsl(var(--twc-code-background));
$example-background-color: hsl(var(--twc-example-background));
$example-border-color: hsl(var(--twc-example-border));
$example-box-shadow: hsl(var(--twc-example-box-shadow));
$modal-box-shadow: hsl(var(--twc-modal-box-shadow));

body {
  font-family: 'Arial', sans-serif;
  background-color: $primary-color;
  color: $text-color;
}

toast-container {
  border-radius: 23px;
}

.btn {
  border-radius: 5px;
  transition: transform 0.2s;
  padding: 5px;

  &:hover {
    transform: scale(1.10);
  }
}

ul {
  margin: 10px 0 10px 20px;
}

li {
  margin: 5px 0;
}

.hint-item::before {
  content: '• ';
  color: black;
}

p {
  margin: 10px 0;
  line-height: 1.6;
  color: #555;
}

pre {
  background-color: $background-color;
  border-left: 4px solid $border-color;
  padding: 10px;
  overflow-x: auto;
  border-radius: 4px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  background-color: $code-background-color;
  padding: 2px 4px;
  border-radius: 4px;
  font-family: monospace;
}

.example {
  background-color: $example-background-color;
  border: 1px solid $example-border-color;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 0 2px 8px $example-box-shadow;
}

.example strong {
  color: $text-color;
}

.example-block {
  background-color: $example-background-color;
  border: 1px solid $example-border-color;
  border-radius: 8px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 2px 8px $example-box-shadow;
}

.example-block p {
  margin: 8px 0;
}

.example-io {
  background-color: $code-background-color;
  padding: 4px 6px;
  border-radius: 4px;
  font-family: monospace;
}

.example-block pre {
  background-color: $background-color;
  border-left: 4px solid $border-color;
  padding: 10px;
  overflow-x: auto;
  border-radius: 4px;
}

.modal-container {
  max-width: 400px;
  width: 100%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 15px $modal-box-shadow;
}


